<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Stuvent, uw event voor een student</title>
</head>

<body>
<img class="jumbotron" src="img/img1.png">
<!--Hier is de nav bar-->
<div class="container-fluid ">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <ul>
                <li> <a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registreren</a></li>
                <li <a href="/about">Over Stuvent</a></li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>




    <!--Hier beginnen de events-->
    <div class="about">
        <div class="about-text">
            <br>
            <h1>Over Stuvent</h1> <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus fugiat rerum aspernatur provident
                asperiores ipsam non beatae sit accusantium ratione molestias voluptates enim dolore autem, recusandae maiores
                alias maxime nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo alias nulla sunt
                necessitatibus commodi sequi quisquam sed, dolor corrupti fugiat eligendi consequuntur, sit, possimus
                voluptate odio. Inventore rerum fugit unde. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                laborum dolore fuga reprehenderit. Voluptatum excepturi laboriosam, esse id exercitationem magnam blanditiis
                quam quasi, ipsum temporibus eum. Accusamus, hic. Exercitationem, praesentium? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Eos animi nisi harum labore vitae sint nulla, eius placeat quod molestiae.
                Consectetur quaerat, nihil mollitia quidem suscipit amet omnis voluptas nobis! Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Aut, doloribus. Asperiores, repellat, officia unde impedit laborum quasi labore
                aliquam eos, sequi quam molestias fugit rem harum nemo esse in assumenda.</p>
            <hr>
            <h2 class="w3-center">Fotos</h2>
            <div class="w3-content w3-display-container">
                <img class="mySlides" src="img/img1.png" style="width:100%">
                <img class="mySlides" src="img/img2.jpg" style="width:100%">
                <img class="mySlides" src="img/opbouwen2.jpg" style="width:100%">
                <img class="mySlides" src="img/opbouwen4.jpg" style="width:100%">

                <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>


            </div>

    </div>





    </section>



    <script src="script.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
<script src="js/script.js"></script>
</body>

</html>