{% extends 'base.html.twig' %}

{% block title %}Over Stuvent{% endblock %}


{% block body %}

    <!--Hier beginnen de events-->
    <div class="about">
        <div class="about-text">

            <h2>Welkom bij Stuvent!</h2>
            <hr>

            <figure class="figure">
            <img style="object-fit: scale-down; box-shadow: 0px 0px 15px white; margin: 20px; border-radius: 15%;" class="ImageAboutpage" src="img/overstuvent1 (1).jpg" width="auto" height="300"/>
            <figcaption style="font-size: medium" class="figure-caption text-right"><i>Prinsjes festival</i></figcaption>
            </figure>
            <br>
            <br>
            <p>

                Stuvent is een uniek evenementenbureau en intern leerbedrijf, opgericht binnen<br> ROC Mondriaan, de
                school voor Toerisme, Recreatie en Evenementen.<br>
<br>
            <figure class="figure">
            <img style="object-fit: scale-down; box-shadow: 0px 0px 15px white; margin: 20px; border-radius: 15%;" class="ImageAboutpage" src="img/schoolgebouw.jpeg" width="auto" height="300"/>
                <figcaption style="font-size: medium" class="figure-caption text-right"><i>Schoolgebouw</i></figcaption>
            </figure>
            <figure class="figure">
                <img style="object-fit: scale-down; box-shadow: 0px 0px 15px white; margin: 20px; border-radius: 15%;" class="ImageAboutpage" src="img/overstuvent1 (5).jpg" width="auto" height="300"/>
                <figcaption style="font-size: medium" class="figure-caption text-right"><i>Ocean race</i></figcaption>
            </figure>

            <br>
            <p>Stuvent is opgericht om studenten de kans te geven om <br>praktijkervaring op te doen tijdens de opleiding
                <br> en tegelijkertijd hun professionele vaardigheden te oefenen.<br>
                Door deel te nemen aan deze evenementen, kunnen studenten de theorie die ze hebben geleerd in de klas<br> in
                praktijk brengen.<br><br>

            <span id="slide-1"></span>
            <span id="slide-2"></span>
            <span id="slide-3"></span>



            <hr>


            <br>
            <h4> <i>Stuvent webapp</i></h4>

            <p> De Stuvent-webapp is een belangrijk onderdeel van dit initiatief. <br>In de app kunnen studenten zien welke
                evenementen op de planning staan en zich daarvoor aanmelden.<br> Per evenement kan de student in de app de
                informatie vinden die hij/zij nodig heeft,<br> zoals de locatie, het tijdstip, en specifieke taken die
                hij/zij gaat uitvoeren.<br></p>


            <figure class="figure">
                <img style="object-fit: scale-down; box-shadow: 0px 0px 15px white; margin: 20px; border-radius: 15%;" class="ImageAboutpage" src="img/overstuvent1 (2).jpg" width="auto" height="300"/>
                <figcaption style="font-size: medium" class="figure-caption text-right"><i>PASRA </i></figcaption>
            </figure>
            <figure class="figure">
                <img style="object-fit: scale-down; box-shadow: 0px 0px 15px white; margin: 20px; border-radius: 15%;" class="ImageAboutpage" src="img/overstuvent1 (3).jpeg" width="auto" height="300"/>
                <figcaption style="font-size: medium" class="figure-caption text-right"><i>Delft Verbindt</i></figcaption>
            </figure>
            <figure class="figure">
                <img style="object-fit: scale-down; box-shadow: 0px 0px 15px white; margin: 20px; border-radius: 15%;" class="ImageAboutpage" src="img/weide.jpg.jpeg" width="auto" height="300"/>
                <figcaption style="font-size: medium" class="figure-caption text-right"><i>Vakantiebeurs</i></figcaption>
            </figure>

               <p> Dit maakt het gemakkelijk voor studenten om zich voor te bereiden op hun
                deelname aan het evenement.<br>

                Bovendien houdt de app ook bij hoeveel vlieguren een student heeft gemaakt bij verschillende
                evenementen. <br> Dit is belangrijk, omdat de studenten verplicht vlieguren moeten maken tijdens de
                opleiding.<br>
                Voor ieder evenement ontvangt de student een beoordeling voor het digitale portfolio.
            <figure class="figure">
                <img style="object-fit: scale-down; box-shadow: 0px 0px 15px white; margin: 20px; border-radius: 15%;" class="ImageAboutpage" src="img/tinaDag.jpeg" width="auto" height="400"/>
                <figcaption style="font-size: medium" class="figure-caption text-right"><i>Tinadag</i></figcaption>
            </figure>
            <figure class="figure">
                <img style="object-fit: scale-down; box-shadow: 0px 0px 15px white; margin: 20px; border-radius: 15%;" class="ImageAboutpage" src="img/toerism.jpeg" width="auto" height="400"/>
                <figcaption style="font-size: medium" class="figure-caption text-right"><i>World Tourism day</i></figcaption>
            </figure>

            <hr>


        </div>
    </div>

    {% block javascripts %}
        <script src={{ asset('js/script.js') }}></script>

        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </html>
{% endblock %}