{% extends 'base.html.twig' %}

{% block title %}Stuvent{% endblock %}


{% block body %}



    <!--Hier beginnen de events-->
    <div class="about">
        <div class="about-text">
            <br>
            <h1>Over Stuvent</h1> <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus fugiat rerum aspernatur provident
                asperiores ipsam non beatae sit accusantium ratione molestias voluptates enim dolore autem, recusandae maiores
                alias maxime nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo alias nulla sunt
                necessitatibus commodi sequi quisquam sed, dolor corrupti fugiat eligendi consequuntur, sit, possimus
                voluptate odio. Inventore rerum fugit unde. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                laborum dolore fuga reprehenderit. Voluptatum excepturi laboriosam, esse id exercitationem magnam blanditiis
                quam quasi, ipsum temporibus eum. Accusamus, hic. Exercitationem, praesentium? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Eos animi nisi harum labore vitae sint nulla, eius placeat quod molestiae.
                Consectetur quaerat, nihil mollitia quidem suscipit amet omnis voluptas nobis! Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Aut, doloribus. Asperiores, repellat, officia unde impedit laborum quasi labore
                aliquam eos, sequi quam molestias fugit rem harum nemo esse in assumenda.</p>
            <hr>
            <div class="slider">
                <span id="slide-1"></span>
                <span id="slide-2"></span>
                <span id="slide-3"></span>
                <div class="image-container">
                    <img src="img/opbouwen4.jpg" class="slide" width="500" height="300" />
                    <img src="img/opbouwen3.jpg" class="slide" width="500" height="300" />
                    <img src="img/opbouwen2.jpg" class="slide" width="500" height="300" />
                </div>
                <div class="buttons">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </div>



        </div>

    {% block javascripts %}
        <script src={{ asset('js/script.js') }} ></script>

        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
{% endblock %}