{% extends 'base.html.twig' %}

{% block title %}Stuvent{% endblock %}


{% block body %}


    <!--Hier beginnen de events-->
    <div class="about">
    <div class="about-text">

        <h2>Welkom bij Stuvent!</h2>
        <hr>
        <h4>

        Stuvent is het evemementenbureau en intern leerbedrijf van ROC Mondriaan de school voor Toerisme, Recreatie en Evenementen alle student binnen de school maken vlieguren bij verschillende evenementen.
        <br>
        In deze app kun je zien welke evenementen op de kalender staan en je daarvoor aanmelden.<br>
        Per evenemt kun je de informatie vinden die je nodig hebt. <br>
        De app houd ook de door jou gemaakte vlieguren bij.<br>
        </h4>
        <hr>
        <div class="slider">
            <span id="slide-1"></span>
            <span id="slide-2"></span>
            <span id="slide-3"></span>
            <div class="image-container">
                <img src="img/overstuvent1 (1).jpg" class="slide" width="500" height="300"/>
                <img src="img/overstuvent1 (2).jpg" class="slide" width="500" height="300"/>
                <img src="img/overstuvent1 (3).jpg" class="slide" width="500" height="300"/>
                <img src="img/overstuvent1 (4).jpg" class="slide" width="500" height="300"/>
                <img src="img/overstuvent1 (5).jpg" class="slide" width="500" height="300"/>

            </div>

        </div>
        <div class="buttons">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
        </div>

    </div>
    </div>

    {% block javascripts %}
        <script src={{ asset('js/script.js') }}></script>

        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </html>
{% endblock %}