{% extends 'base.html.twig' %}

{% block title %}Edit Profile Image{% endblock %}

{% block body %}
    <div class="about-text">
    <h1>Profielfoto wijzigen</h1>
        <hr>

    {{ form_start(form) }}
    {{ form_widget(form.image) }}
        <br>
    <button class="buttondiv1"type="submit" >Bewaar</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
