
{% if usersByKlas is empty %}
    <p>No users found for class {{ naam }}.</p>
{% else %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Class</th>
        </tr>
        </thead>
        <tbody>
        {% for user in usersByKlas %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.klas.naam }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}