{% extends 'base.html.twig' %}

{% block title %}Stuvent{% endblock %}


{% block body %}

    <div class="about-text">
        <h1>Nog geen Studenten in de klas</h1>

    </div>
    {% block footer %}
    {% endblock %}

{% endblock %}