{% extends 'base.html.twig' %}

{% block title %}Docentenoverzicht{% endblock %}

{% block body %}
    <script>
        window.onload = function () {
            let klasSelect = document.querySelector('#klas-select');
            klasSelect.addEventListener('change', function () {
                let klasId = this.value;
                let xhr = new XMLHttpRequest();
                xhr.open('GET', '/get_users_by_klas/' + klasId, true);
                xhr.onload = function () {
                    if (this.status === 200) {
                        let users = JSON.parse(this.responseText);
                        let options = '';
                        for (let i = 0; i < users.length; i++) {
                            options += `<option value="${users[i].id}">${users[i].name}</option>`;
                        }
                        userSelect.innerHTML = options;
                    }
                };
                xhr.send();
            });
        }
    </script>
    <select id="klas-select">
        {% for klas in klasses %}
            <option value="{{ klas.id }}">{{ klas.naam }}</option>
        {% endfor %}
    </select>



    {% block javascripts %}
        <script src={{ asset('js/script.js') }}></script>

        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}
