{% extends 'base.html.twig' %}

{% block title %}Stuvent{% endblock %}


{% block body %}
    <div class="about-text">
    <h1>Aanwezigheid</h1>
        <hr>

    {% for event in evt %}
        <h3><a href="/admin/presences/event/{{ event.id }}">{{ event.title }} - {{ event.date|date(' d M H:i') }} tot {{ event.enddate|date(' d M H:i') }}</a></h3><br>
    {% endfor %}

    </div>
{% endblock %}